:root {
  --deep-moss-green: rgba(50, 82, 58, 1);
  --chinese-white: rgba(225, 237, 213, 1);
  --alabaster: rgba(240, 246, 234, 1);
  --dolphin-gray: rgba(133, 144, 132, 1);
  --dark-jungle-green: rgba(25, 41, 29, 1);
  --apple: rgba(116, 183, 74, 1);
  --TEXTO-HEAD-font-family: "Crimson Pro", Helvetica;
  --TEXTO-HEAD-font-weight: 700;
  --TEXTO-HEAD-font-size: 20px;
  --TEXTO-HEAD-letter-spacing: 0px;
  --TEXTO-HEAD-line-height: 100%;
  --TEXTO-HEAD-font-style: normal;
  --TEXTO-info1-font-family: "Crimson Pro", Helvetica;
  --TEXTO-info1-font-weight: 900;
  --TEXTO-info1-font-size: 30px;
  --TEXTO-info1-letter-spacing: 0px;
  --TEXTO-info1-line-height: 100%;
  --TEXTO-info1-font-style: normal;
  --TEXTO-info2-font-family: "Crimson Pro", Helvetica;
  --TEXTO-info2-font-weight: 500;
  --TEXTO-info2-font-size: 16px;
  --TEXTO-info2-letter-spacing: 0px;
  --TEXTO-info2-line-height: 100%;
  --TEXTO-info2-font-style: normal;
  --TEXTO-info3-font-family: "Crimson Pro", Helvetica;
  --TEXTO-info3-font-weight: 900;
  --TEXTO-info3-font-size: 16px;
  --TEXTO-info3-letter-spacing: 0px;
  --TEXTO-info3-line-height: 100%;
  --TEXTO-info3-font-style: normal;
  --TEXTO-info4-font-family: "Crimson Pro", Helvetica;
  --TEXTO-info4-font-weight: 900;
  --TEXTO-info4-font-size: 20px;
  --TEXTO-info4-letter-spacing: 0px;
  --TEXTO-info4-line-height: 100%;
  --TEXTO-info4-font-style: normal;
  --TEXTO-info5-font-family: "Crimson Pro", Helvetica;
  --TEXTO-info5-font-weight: 300;
  --TEXTO-info5-font-size: 16px;
  --TEXTO-info5-letter-spacing: 0px;
  --TEXTO-info5-line-height: 100%;
  --TEXTO-info5-font-style: normal;
  --TEXTO-FOOTER-font-family: "Crimson Pro", Helvetica;
  --TEXTO-FOOTER-font-weight: 300;
  --TEXTO-FOOTER-font-size: 12px;
  --TEXTO-FOOTER-letter-spacing: 0px;
  --TEXTO-FOOTER-line-height: 100%;
  --TEXTO-FOOTER-font-style: normal;
  --TEXTO-footer2-font-family: "Crimson Pro", Helvetica;
  --TEXTO-footer2-font-weight: 700;
  --TEXTO-footer2-font-size: 12px;
  --TEXTO-footer2-letter-spacing: 0px;
  --TEXTO-footer2-line-height: 100%;
  --TEXTO-footer2-font-style: normal;
  --size-space-300: 12px;
  --size-space-200: 8px;
  --size-padding-lg: 16px;
  --size-space-100: 4px;
  --size-radius-200: 8px;
  --size-space-600: 24px;
}
